
  
    {{#if save}}
        <button type="button" class="btn btn-sm btn-outline-success mb-1 save-btn" data-articleId="{{id}}" data-saved="{{save}}">Save</button>
    {{else}}

        <button type="button" class="btn btn-sm btn-success mb-1 save-btn" data-articleId="{{id}}" data-saved="{{save}}">Saved</button>

    {{/if}}
